<section class="container my-5">
<h2 class="mb-4 text-center">Про нас</h2>

<div class="row mb-4">
  <div class="col-md-6">
    <p>
      Travel &amp; Trips – це провідна туристична компанія, яка вже більше 10 років створює незабутні подорожі для своїх клієнтів.
      Ми прагнемо відкривати нові горизонти, забезпечуючи нашим клієнтам комфортний та безпечний відпочинок у будь-якій точці світу.
    </p>
    <p>
      Наша місія – зробити якісні подорожі доступними для кожного. Ми працюємо із найкращими готелями, екскурсійними компаніями та транспортними операторами, щоб гарантувати незабутні враження та першокласний сервіс.
    </p>
  </div>
  <div class="col-md-6">
    <img src="images/team.jpg" alt="Наша команда" class="img-fluid rounded">
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-4">
    <img src="images/history.jpg" alt="Наша історія" class="img-fluid rounded mb-3">
  </div>
  <div class="col-md-8">
    <h4>Наша історія</h4>
    <p>
      Все почалося у 2010 році, коли невелика група ентузіастів вирішила створити компанію, яка змінить спосіб, яким люди подорожують. Протягом років ми постійно вдосконалювали свої послуги, впроваджували нові технології та оптимізували процеси, щоб зробити кожну подорож найкомфортнішою.
    </p>
    <p>
      Сьогодні Travel &amp; Trips – це команда професіоналів, які з радістю допомагають вам організувати ідеальний відпочинок, будь то незабутня екскурсія у великому місті або спокійний релакс на узбережжі.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4>Наші цінності</h4>
    <p>
      Ми віримо в відкритість, чесність та інновації. Кожна подорож – це можливість створити унікальні спогади та відкрити нові горизонти. Наші цінності допомагають нам підтримувати високий стандарт обслуговування та гарантувати, що кожен клієнт отримає найкращий сервіс.
    </p>
  </div>
  <div class="col-md-6">
    <img src="images/values.jpg" alt="Наші цінності" class="img-fluid rounded">
  </div>
</div>
</section>